body {
    background-color: rgb(245, 241, 241);
    font-family: 'Ubuntu', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

.cabecalho,
.profissional-skill {
    background-color: rgb(245, 239, 238);
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.cabecalho {
    border-bottom: solid darkturquoise;
}

.minha-info {
    background-color: rgb(242, 247, 246);
    flex: 2;
    display: flex;
    align-items: center;
}

.meuscontatos {
    background-color: rgb(242, 247, 246);
    flex: 1;
    height: 110px;
}

.logo img {
    width: 100px;
    height: 100px;
    background-color: rgb(97, 159, 221);
    border-radius: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.logo p {
    font-size: 1px;
    color: rgb(8, 8, 8);
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: italic;
    font-family: sans-serif;
}

.textos {
    justify-content: flex-start;
}

.titulo-principal {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profissional-skill {
    align-items: center;
    margin-right: 30px;
}

.titulo-principal i {
    background-color: rgb(232, 235, 239);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.profissional-skill {
    margin-right: 45px;
}

.profissional {
    flex: 3;
}

.skill {
    flex: 1;
}

.coluna-esquerda {
    flex: 0.8;
}

.lista-principal {
    list-style-type: disc;
    margin-left: 20px;
}

.lista-principal {
    margin-left: 20px;
}

.titulo {
    font-size: 28px;
    margin-bottom: 10px;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.bolinha {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-right: 20px
}

.subtitulo,
.coluna-esquerda p {
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(189, 149, 226)
}

p,
ul {
    font-family: 'Viaoda Libre', cursive;
}

.textos h1,
h2,
h4 {
    font-family: 'Viaoda Libre', cursive;
    font-family: 'Libre Baskerville', serif;
}

.ul {
    margin: 20px;
}

.iconestopo li {
    display: inline;
    margin-top: 10x;
}

.iconestopo li a:visited {
    color: rgb(65, 60, 60);
}

.iconestopo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 100px;
}


}
.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.formulario div {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #232527;
    font-size: 18px;
}
footer {
    background: #333333;
    color: #eee;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
.formulario button {
    background: #333333;
    color: #eee;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
}
.formulario {
    justify-content: center;
    align-items: center;
    margin: 0px 255px;
}
.formulario input {
    border: 0;
    background: #eee;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0 20px 0;
}
.formulario textarea {
    border: 0;
    background: #eee;
    height: 100px;
    border-radius: 5px;
    margin: 10px 0 20px 0;
}